*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



h1{
    width: 100px;
    height: 100px;
    background-image: url(../img/Usual\ laptop.jpg);
    background-repeat: no-repeat;
    text-indent: -333px;
    background-size: 100%;

}
h1 a{
    display: block;
    width: 100px;
    height: 100px;
}
